<div class="parallax-container">
  <div class="parallax"><img src="../../assets/images/backgrounds/Yang_Bg3.png"/>
    <div class="center-align header-container">
      <a href="#home" class="header">Jonny Deates</a>
      <a href="#about">About Me</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card hoverable" [style.animation-delay]="1+'s'">
      <div class="card-title">About Me</div>
      <div class="card-content">
        <span>I am a college student, that works two jobs, does independent typescript projects, and goes to the gym daily. I am 19 years old. I am self taught in the world of computer science. </span>

      </div>
    </div>
  </div>
</div>
