<div class="bg">
  <div class="container">
    <div class="row">
      <div class="center-align" style="padding-bottom: 64px">
        <a href="#home" id="header">Black Koi Jonny</a>
      </div>
      <div class="card hoverable" >
        <div class="card-title center">
          <span>About Me</span>
        </div>
        <div class="card-content">
          <div>Hello!</div>
        </div>
        <div class="right-align" >
          <a target="_blank" href="https://drive.google.com/open?id=1JiCVKarqLfUeWsi8p6JFR5sSiP6a014z"><img class="image hoverable" src="https://drive.google.com/open?id=1JiCVKarqLfUeWsi8p6JFR5sSiP6a014z"></a>
        </div>
      </div>
    </div>
  </div>
</div>

