<div class="container">
  <div class="row">
    <div style="padding-top: 32px;">
      <div class="col s2" *ngFor="let vampire of vampires; let i = index">
        <div class="btn vampire" *ngIf="vampire.health > 0" (click)="attack($event,i)">{{vampire.health}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card character-stat col s2" *ngFor="let item of characterDisplays; let i = index"
         [id]="characters[i].name + 'id'">
      <div *ngFor="let itemX of item">
        <div class="card-title" *ngIf="itemX =='name'">{{characters[i][itemX]}}</div>
        <div class="stats">
          <div *ngIf="itemX != 'side'&& itemX != 'name' && itemX != 'abilities'">{{itemX + ": "+ characters[i][itemX]}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="abilities-ui">
  <label *ngFor="let item of characters[0].abilities">
    <input class="with-gap" name="abilities" type="radio" checked/>
    <div class="btn">{{item.name}}</div>
  </label>
</nav>
<span class="status" *ngFor="let hit of hits" [ngStyle]="hit.styles">{{hit.statusText}}</span>
