<!-- Nav Bar for website !-->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#tic-tac-toe">Tic Tac Toe</a></li>
  <li><a href="#giveaway-wheel">Give Away Wheel</a></li>
  <li><a href="#snake">Snake</a></li>
</ul>
<nav style="background-color: #212121">
  <div class="nav-wrapper">
    <a href="#home" class="brand-logo center yellow-text" >Black Koi Jonny</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#about">About Me</a></li>
      <li><a href="#tutorials">Tutorials</a></li>
      <li><a class="dropdown-trigger" data-target="dropdown1">TS Projects<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
