<!-- Nav Bar for website
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#tic-tac-toe">Tic Tac Toe</a></li>
  <li><a href="#giveaway-wheel">Give Away Wheel</a></li>
  <li><a href="#snake">Snake</a></li>
</ul>
<nav style="background-color: #212121">
  <div class="nav-wrapper">
    <a href="#home" class="brand-logo center yellow-text" >Black Koi Jonny</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#about">About Me</a></li>
      <li><a href="#tutorials">Tutorials</a></li>
      <li><a class="dropdown-trigger" data-target="dropdown1">TS Projects<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>!-->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#tic-tac-toe"><i class="material-icons">grid_on</i>Tic Tac Toe </a></li>
  <li><a href="#giveaway-wheel"><i class="material-icons">slow_motion_video</i>Give Away Wheel</a></li>
  <li><a href="#snake"><i class="material-icons">show_chart</i>Snake</a></li>
</ul>
<ul id="slide-out" class="sidenav">
  <a href="#home"><li class="center">
    <div>
      <img  id="logo" src="../assets/images/logo/YinYangYong.png">
    </div>
  </li></a>

  <li ><a href="#home"><i class="material-icons">home</i>Home</a></li>
  <li><a href="#about"><i class="material-icons">account_circle</i>About Me</a></li>
  <li><a href="#tutorials"><i class="material-icons">ondemand_video</i>Tutorials</a></li>
  <li><a href="#blog-creation-page"><i class="material-icons">edit</i>Edit Blog</a></li>
  <li><a class="dropdown-trigger" data-target="dropdown1"><i class="material-icons">menu</i>TS Projects<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger btn-floating waves-effect waves-light"><i class="material-icons">menu</i></a>
<router-outlet></router-outlet>
