<div class="container">
  <div class="row">
    <div class="card col s8 offset-s2 ">
      <div class="card-content">
        <div class="card-title">
          <h3 class="center col s8 offset-s2">{{'Player ' + (this.turn ? 2 : 1) + "'s turn"}}</h3>
          <div class="card col s2" style="background-color: white">
            <div class="card-content center-align">
              <h4>{{(this.turn ? 'O' : 'X')}}</h4>
            </div>
          </div>
        </div>

        <span *ngFor="let item of board; let i = index" class="board col s4 center-align" (click)="select(i)">{{['', 'x', 'o'][item]}}</span>
      </div>
      <div class="card" style="margin-top: 450px">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li  class="tab hidden"><a  href="#last-game">Last Game</a></li>
            <li class="tab"><a class="active" href="#names">Names</a></li>
            <li class="tab hidden"><a href="#last-ten-games" >Last 10 Games:</a></li>
          </ul>
          <div class="card-content grey lighten-4">
            <div id="last-game" class="hidden">
              <h4>Last Game: {{last10[0]}}</h4>
              <div class="card">
                <div class="card-content grey lighten-3">
                  <span *ngFor="let item of last10boards[0];" class="board-prev col s4 center-align"> {{['', 'x', 'o'][item]}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="names">
              <div class="input-field">
                <input id="player1" type="text" class="validate">
                <label for="player1">Player 1 [X]</label>
              </div>
              <div class="input-field">
                <input id="player2" type="text" class="validate">
                <label for="player2">Player 2 [O]</label>
              </div>
            </div>
            <div id="last-ten-games"><!--
              <div *ngFor="let item of last10boards; let i = index">
                <h6>{{(i+1) + ') ' + last10[i]}}</h6>
                <table>
                  <tr>
                    <td *ngFor="let item2 of last10boards[i]" style="border: 1px dotted black; font-size: 10px">
                      {{['', 'x', 'o'][item2]}}
                    </td>
                  </tr>
                </table>
              </div>!-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
