<div class="bg">
<div class="container">
  <div class="row">
    <div class="center-align " style="padding-bottom: 64px">
      <a href="#home" id="header">Black Koi Jonny</a>
    </div>

    <div class="card hoverable">
      <div class="card-title"><span>
        Bi-Weekly Update 2</span>
        <span class="right" style="padding-right: 16px;">5/20/2018</span>
      </div>
      <br>
      <div class="card-content">
        Started off by creating the home page, which if you are unable to tell, I plan it to be like a blog. I will post weekly updates here, and allow for easy maneuvering to other updates. As of right now, the entire card is based off of the html. I plan to move this into a firebase database, and have my own system in which I can log in, and change my website easily. All of this is being done in Angular 2, and in Typescript.
      </div>
    </div>
    <div class="card hoverable">
      <div class="card-title"><span>
        Bi-Weekly Update 2</span>
        <span class="right" style="padding-right: 16px;">5/20/2018</span>
      </div>
      <br>
      <div class="card-content">
        Started off by creating the home page, which if you are unable to tell, I plan it to be like a blog. I will post weekly updates here, and allow for easy maneuvering to other updates. As of right now, the entire card is based off of the html. I plan to move this into a firebase database, and have my own system in which I can log in, and change my website easily. All of this is being done in Angular 2, and in Typescript.
      </div>
    </div>
    <div class="card hoverable">
      <div class="card-title"><span>
        Bi-Weekly Update 2</span>
        <span class="right" style="padding-right: 16px;">5/20/2018</span>
      </div>
      <br>
      <div class="card-content">
        Started off by creating the home page, which if you are unable to tell, I plan it to be like a blog. I will post weekly updates here, and allow for easy maneuvering to other updates. As of right now, the entire card is based off of the html. I plan to move this into a firebase database, and have my own system in which I can log in, and change my website easily. All of this is being done in Angular 2, and in Typescript.
      </div>
    </div>
    <div class="card hoverable">
      <div class="card-title"><span>
        Bi-Weekly Update 1</span>
      <span class="right" style="padding-right: 16px;">5/18/2018</span>
      </div>
      <br>
      <div class="card-content">
        Started off by creating the home page, which if you are unable to tell, I plan it to be like a blog. I will post weekly updates here, and allow for easy maneuvering to other updates. As of right now, the entire card is based off of the html. I plan to move this into a firebase database, and have my own system in which I can log in, and change my website easily. All of this is being done in Angular 2, and in Typescript.
      </div>
    </div>
    <ul class="pagination center" >
      <li class="disabled" style="background: white; border-radius: 25px"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active hoverable"><a href="#home">1</a></li>
      <li class="waves-effect hoverable" style="background: white; border-radius: 25px"><a href="#home/2">2</a></li>
      <li class="waves-effect hoverable" style="background: white; border-radius: 25px"><a href="#home/3">3</a></li>
      <li class="waves-effect hoverable" style="background: white; border-radius: 25px"><a href="#home/4">4</a></li>
      <li class="waves-effect hoverable" style="background: white; border-radius: 25px"><a href="#home/5">5</a></li>
      <li class="waves-effect hoverable" style="background: white; border-radius: 25px"><a href="#home/2"><i class="material-icons">chevron_right</i></a></li>
    </ul>
  </div>
</div>
</div>
