<div class="container">
  <img class="self-img z-depth-1" src="../../assets/images/people/ProfessionalPicJonny.jpg"/>
  <div class="title">Jonny Deates</div>
  <div *ngIf="!hasScrolled && waitPeriod">
    <i *ngFor="let i of [25,50,75]" class="material-icons z-depth-1" style.left="{{i}}vw">keyboard_arrow_down</i>
  </div>
  <div class="parallax-container">
        <!--<img *ngFor="let project of projects; let i = index" src="{{project.img}}">-->
        <div *ngFor="let project of projects; let i = index" style="background-image: url({{project.img}})" (click)="openModal(project)">
          {{project.projectName}}
          <span>{{project.desc}}</span>
    </div>
  </div>
</div>
